@font-face{
	font-family: 'Rapier_Zero_Italic';
	src:url("aset/Rapier_Zero_Italic.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(aset/xixixi.jpg);
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.container{
    width: 27%;
    margin: 25px auto;
    border: white solid 5px;
    box-shadow: 5px 10px 15px #4b4b48, -5px -5px 15px #ffab23;
    background-image: url(aset/xixix.jpg);
    background-position-x: -250px;
    background-size: cover;
    border-radius:15px ;
    
}
header h1{
    text-align: center;
    color: #ffec64;
    font-size: 40px;
    font-family: 'Rapier_Zero_Italic', sans-serif;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #414141;
}

.container input{
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px #30302f;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    outline: none;
    background-color: #d7c65345;
    border: none;

    width: 100%;
    margin: 30px auto;
    padding: 20px;
}
.calculator-buttons{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}
.isAddition, .isEquals{
    grid-row: span 2;
}
.isZero{
    grid-column: span 2;
}
.btn{
    padding: 20px;
    color:white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 1px 0px 0px #121212;
    background:linear-gradient(to bottom, #b5b5b5 5%, #2e2e2e 100%);
    background-color:#b5b5b5;
    text-shadow:0px 1px 0px #ffffff;
    border:1px solid #bfbfbf;
    outline:none;
}
.btn:hover{
    animation-name: btn-anim;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    opacity: 60%;
    outline:none;
}
.btn:active{
    background-color: white;
    opacity: 100%;
    animation-name: btn-click;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.color1{
	box-shadow:inset 0px 1px 0px 0px #fff6b3;
	background:linear-gradient(to bottom, #dd1c1c 5%, #f58989 100%);
	background-color:#ffec64;
}
.color2{
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fcca00 5%, #cc3600 100%);
	background-color:#fcca00;
}
/* keyframe animation */
@keyframes btn-anim{
    100%{
        transform: scale(1.05);
    }
}
@keyframes btn-click{
    100%{
        transform: scale(0.8);
    }
}

/* responsive background */
/* Tablet */
@media screen and (max-width: 2400px) {
    .container{
        width: 85%;    
    }
}
@media screen and (max-width: 1024px) {
    .container{
        width: 60%;    
    }
}
/* Mobile */
@media screen and (max-width: 720px) {
    .container{
        width: 70%;    
    }
}
@media screen and (max-width: 600px) {
    .container{
        width: 90%;    
    }
}
